* {

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 10px 30px;
}

.brand-logo {
    font-weight: 900;
    font-size: 2em;

}

.nav-links {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    align-items: center;
}


.nav-linkd li a {
    text-decoration: none;
    font-weight: 400;
    color: aqua;


}

a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4em;
    transition: all ease-in-out 0.5s;
}

a:hover {
    color: #4CAF4F;
     padding: 12px 12px;
}


.nav-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF4F;
    color: white;
    font-weight: 500;
    transition: all ease-in-out 0.5s;

}

.nav-btn:hover {
    background-color: #327234;
    padding: 12px;
}